section.s-gallery.uk-section {
  padding-top: 30px;

  .grid-item,
  .grid-sizer {
    width: 100%;
  }
  @include small() {
    .grid-item,
    .grid-sizer {
      width: 50%;
    }
  };
  @include medium() {
    .grid-item,
    .grid-sizer {
      width: 33%;
    }
  };
  @include large() {
    .grid-item,
    .grid-sizer {
      width: 25%;
    }
  };

  .s-gallery-content {
    margin-left: 0;
  }

  .s-filter {
    position: relative;
    text-align: center;

    .s-button-group.uk-button-group {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;

      .s-active.uk-button {
        background-color: #0e6ecd;
      }
    }
  }
}
