.s-section-gallery.uk-section{
  padding-top : 40px;
  .s-section-title{
    margin-bottom : 40px;
  }
  .s-gallery-container{
    // max-width : 500px;
    padding : 0;
    margin : 0;
    //display : inline-block;
    .s-gallery-item{
      height : 400px;
      background-size : cover;
      background-position : center center;
    }
  }
}
